.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    min-height: 70vh;
    color: white;
    gap: 40px;
}

.hero h1 {
    font-size: 60px;
    margin-top: 40px;
    line-height: 1.2;
}

.hero h2 {
    margin-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #6070fd, #5bbdff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

.hero p {
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.hero-img {
    width: 420px;
    height: 420px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    flex-shrink: 0;
}

.hero-img:hover #profile0 {
    opacity: 0.7;
    transform: translateZ(-5px) scale(0.99);
}

.hero-img:hover #profile1 {
    opacity: 1;
    transform: translateZ(30px);
}

.hero-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

#profile1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.ul-icon {
    margin-top: 30px;
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    font-size: 32px;
    align-items: center;
}

.ul-icon a {
    color: white;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ul-icon a:hover {
    color: #4acfee;
    box-shadow: 0 0 15px #4acfee;
    border: 1px solid #4acfee;
    border-radius: 50%;
    padding: 6px;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    background: linear-gradient(to right, #4acfee, #53f8c9, #8e97ec, #4a9fd7, #40bbd6);
    background-size: 200%;
    color: #0e1217;
    animation: animate-gradient 7s linear infinite;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #53f8c9;
    box-shadow: 0 0 15px #4acfee;
    color: #0e1217;
}

.info-sec {
    display: flex;
    width: 80%;
    gap: 20px;
    padding: 0 10%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-sec h1 {
    font-size: 55px;
    text-transform: uppercase;
    background: linear-gradient(to right, #4acfee, #53f8c9, #6070fd, #5bbdff, #4acfee);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    margin-right: 10px;
}

.info-sec p {
    color: white;
    font-size: 20px;
    line-height: 1.4;
}

.lang {
    width: 350px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.react,
.js,
.css3,
.html {
    padding: 10px 14px;
    color: rgb(205, 210, 215);
    border-radius: 6px;
    border: 2px solid #677e99;
    font-size: 16px;
    background-color: #3b4e65;
    cursor: pointer;
    transition: 0.3s;
}

.react:hover,
.js:hover,
.css3:hover,
.html:hover {
    background-color: #4acfee;
    color: #0e1217;
    border-color: #4acfee;
}

.buttons1 {
    margin-top: 10px;
}