.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    width: 1500px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #1e293b;

}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.left img{
    animation: leftImgAnim 0.9s ease;
}
.left img.mix-blend-mode {
    mix-blend-mode: multiply;
}
@keyframes leftImgAnim {
    0% { transform: translateX(-200px);opacity: 0; }
    50% { transform: translateX(100px); opacity: 0.5;}
    100% { transform: translateX(0); opacity: 1;}
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}
.right h1{
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 90px;
    color: rgb(148, 97, 97);
}
.right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}   
form input, form textarea{
    color: blanchedalmond;
    padding: 10px;
    font-size: 16px;
    width: 400px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: #314470;
}
form input, form textarea:focus{
    outline: none;
    border-color: #0f172a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
form button{
    padding: 10px;
    font-size: 18px;
    background-color: #4acfee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 421px;
}
form button:hover{
    background-color: #3a9bdc;
    transform: scale(0.99);
}